<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="local">
        <springProperty scope="context" name="serverName" source="HOSTNAME"/>
        <appender name="LOGGING-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <charset>UTF-8</charset>
                <pattern>[%-5level] ${PID:-} -&#45;&#45; [%15.15thread] %-40.40logger{36} : %msg%n </pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="dev">
        <appender name="LOGGING-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <prudent>false</prudent> <!-- prudent : file에 저장될때 lock을 생성해서 처리 (서로 다른 VM이 같은 파일을 가리킬때 사용) -->
            <file>/home/logs/pay.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/home/logs/pay.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>10</maxHistory>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>[%-5level] ${PID:-} -&#45;&#45; [%15.15thread] %-40.40logger{36} : %msg%n </pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="beta">
        <appender name="LOGGING-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <prudent>false</prudent> <!-- prudent : file에 저장될때 lock을 생성해서 처리 (서로 다른 VM이 같은 파일을 가리킬때 사용) -->
            <file>/home/logs/pay.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/home/logs/pay.log.gz.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>10</maxHistory>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>[%-5level] ${PID:-} -&#45;&#45; [%15.15thread] %-40.40logger{36} : %msg%n </pattern>
            </encoder>
        </appender>
    </springProfile>

    <!-- log root 레벨 설정 (logging.level.root=info)-->
    <root>
        <appender-ref ref="LOGGING-APPENDER"/>
    </root>

</configuration>